---
const pageTitle = "Home";
---
<!doctype html>
<html lang="en">

    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <p>Hello World</p>

</html>
