---
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";

const pageTitle = "Home";
---
<!doctype html>
<html lang="en">

    <Navigation />

    <h1>{pageTitle}</h1>
    <p>Hello World</p>

</html>
