---
const platform = "github";
const platform2 = "handshake"
---

<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/e2wa3n`}>{platform}</a>!</p>
    <p>Learn more about my projects on <a href={`https://fortlewis.joinhandshake.com/profiles/ewanc`}>{platform2}</a>!</p>
</footer>
